<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard</title>
<link rel="stylesheet" href="/css/userProfile.css">
</head>
<body>

  <h1></h1>

  <h2>Edit Profile</h2>

  <form id="profile-form">

    <label>Phone
      <input type="text" id="phone" name="phone" placeholder="+91 98765 43210">
    </label>

    <label>Preferred contact method
      <select id="contact-method" name="preffered_contact_method">
        <option value="email">Email</option>
        <option value="sms">SMS</option>
      </select>
    </label>

    <label>Preferences / notes
      <textarea id="notes" name="notes" rows="3" placeholder="e.g. allergies, hair/skin type, comfort preference, Accessibility need , product preference..."></textarea>
    </label>

    <button type="submit">Save changes</button>
  </form>

<script src="/js/userProfile.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js"></script>

</body>
</html>